<!DOCTYPE HTML>

<html>
	<head>
		<title>课程作业</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">
                <article id="intro">
                    <span style="float: left;"><h2 class="major">课程作业</h2></span>
                    <span style="float: right;"><a href="/redirect"><img src="/images/back.png" height="35" width="35"></a></span>
                    <br><br>
                    
                    <span class="image main"><img src="/images/pic01.jpg" alt="" /></span>

                    <h3>作业列表</h3>

                    <div class="container">

                        <table>
                            <thead>
                                <tr>	
                                    <th>作业标题</th>
                                    <th>发布人</th>
                                    <th>提交截至时间</th>
                                    <th>提交作业</th>
                                    <th>总分</th>
                                    <th>我的成绩</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for homework in homeworks %}
                                    <tr style="height: 60px;">
                                        <td>{{homework[0]}}</td>
                                        <td>{{tname}}</td>
                                        <td>{{homework[1]}}</td>
                                        {% if homework[1] >= now_time and homework[5] == none %}
                                            <td><a href="/showHomeworks/{{homework[3]}}/{{homework[4]}}"><button type="button" style="height: 40px;">提交</button></a></td>
                                        {% elif homework[1] >= now_time and homework[5] != none %}
                                            <td>已提交</button></td>
                                        {% else %}
                                            <td>未提交</button></td>
                                        {% endif %}
                                        <td>{{homework[2]}}</td>
                                        <td>/</td>
                                    </tr>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>

                    </div>


                </article>
				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; 管理员邮箱: <a href="https://html5up.net">3111962176@qq.com</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>
