<!DOCTYPE HTML>

<html>
	<head>
		<title>作业互评</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">
                <article id="intro">
                    <span style="float: left;"><h2 class="major">作业互评</h2></span>
                    <span style="float: right;"><a href="/redirect"><img src="/images/back.png" height="35" width="35"></a></span>
                    <br><br>
                    
                    <span class="image main"><img src="/images/pic01.jpg" alt="" /></span>

                    <h3>我的作业互评列表</h3>

                    <div class="container">

                        <table>
                            <thead>
                                <tr>	
                                    <th>课程名称</th>
                                    <th>课程编号</th>
                                    <th>作业标题</th>
                                    <th>互评学号</th>
                                    <th>互评</th>
                                    <th>互评成绩</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for assess in assessList %}
                                    <tr style="height: 60px;">
                                        <td>{{assess[0]}}</td>
                                        <td>{{assess[1]}}</td>
                                        <td>{{assess[2]}}</td>
                                        <td>{{assess[3]}}</td>
                                        {% if assess[4] == none %}
                                        <td><a href="/assessHomework/{{assess[3]}}/{{assess[5]}}/{{assess[1]}}"><button type="button" style="height: 40px;">互评</button></a></td>
                                        <td>/</td>
                                        {% else %}
                                        <td>已互评</td>
                                        <td>{{assess[4]}}</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>

                    </div>


                </article>
				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; 管理员邮箱: <a href="https://html5up.net">3111962176@qq.com</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>
