<!DOCTYPE HTML>
<html>
	<head>
		<title>布置作业</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

		<style>
			input[type="datetime-local"] {
				padding: 8px;
				border: 4px solid #b2adad;
				border-radius: 4px;
				font-size: 14px;
				width: 300px;
				background-color: #636363;
			}
		</style>

		<script>
			function validateForm() {
				var title = document.getElementById('title').value;
				var deadline = document.getElementById('deadline').value;
				var score = document.getElementById('score').value;
				var content = document.getElementById('content').value;
				// 判断标题输入是否为空
				if (title === "") {
					alert("请输入作业标题！");
					return false; // 阻止表单提交
				}
				// 如果输入不为空，则允许提交表单

				// 判断截至日期输入是否为空
				if (deadline === "") {
					alert("请输入截至日期！");
					return false; // 阻止表单提交
				}

				// 判断分数输入是否为空
				if (score === "") {
					alert("输入分数不能为空！");
					return false; // 阻止表单提交
				}
				else if (isNaN(score)){
					alert("输入分数只能为数字！");
					return false; // 阻止表单提交
				}

				// 判断输入内容是否为空
				if (content === ""){
					alert("输入作业内容不能为空！");
					return false; // 阻止表单提交
				}

				// 如果输入满足条件，则允许提交表单
				return true;
			}
		</script>
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">
				<article id="contact" style="margin:auto">
					<h2 class="major">作业布置</h2>
					<form method="post" action="/setHomework" onsubmit="return validateForm()">
						<div class="fields">
							<div class="field half">
								
									<label for="title">作业标题</label>
									<input id="title" type="text" name="title" placeholder="请输入作业标题"/>

							</div>
						</div>

						<div class="fields">
							<div class="field half">

								<label for="deadline">截至时间</label>
								<input id="deadline" type="datetime-local" name="deadline" placeholder="请输入作业截至时间"/>

							</div>
						</div>
						
						<div class="fields">
							<div class="field half">

								<label for="score">作业总分(满分)</label>
								<input  id="score" type="text" name="score" placeholder="请输入作业总分"/>

							</div>
						</div>
						
						<div class="fields">
							<div class="field half">
								
									<label for="content">作业内容</label>
									<textarea id="content" name="content" rows="4" cols="200" placeholder="请输入作业内容"></textarea>
								
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" value="提交" class="primary" /></li>
							<li><a href="/cancelSetHomeworks"><input type="button" value="取消" /></a></li>
						</ul>
						
					</form>
				</article>	
			</div>
	</body>
</html>
