<!DOCTYPE HTML>

<html>
	<head>
		<title>互评申诉处理</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">
                <article id="intro">
                    <span style="float: left;"><h2 class="major">互评申诉处理</h2></span>
                    <span style="float: right;"><a href="/redirect"><img src="/images/back.png" height="35" width="35"></a></span>
                    <br><br>
                    
                    <span class="image main"><img src="/images/pic01.jpg" alt="" /></span>

                    <h3 style="font-size: 18px">课程作业互评申诉列表</h3>
                    <br>

                    <div class="container">

                        <table>
                            <thead>
                                <tr>	
                                    <th>课程名称</th>
                                    <th>作业标题</th>
                                    <th>申诉学生(学号)</th>
                                    <th>互评学生(学号)</th>
                                    <th>互评分数(满分)</th>
                                    <th>处理申诉</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for inform in informs %}
                                    <tr style="height: 60px;">
                                        <td>{{inform[0]}}</td>
                                        <td>{{inform[1]}}</td>
                                        <td>{{inform[2]}}</td>
                                        <td>{{inform[3]}}</td>
                                        <td>{{inform[4]}}({{inform[5]}})</td>
                                        {% if inform[6] == 'F' %}
                                        <td><a href="/handleAppeal/{{inform[2]}}/{{inform[3]}}/{{inform[7]}}/{{inform[8]}}"><button type="button" style="height: 40px;">处理</button></a></td>
                                        {% else %}
                                        <td>已处理</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>

                    </div>


                </article>
				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; 管理员邮箱: <a href="https://html5up.net">3111962176@qq.com</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>
